@model ElearningM1.Models.A_TE_Module_View
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Affecter_Module_Semestre</title>
</head>
<body>
   
 <fieldset>
        Affectation d'un module a un semestre

        <span style="color:red">@ViewBag.erreur</span>

        @using (Html.BeginForm("insert_Module_Semestre", "TuteurEnseignant", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("Semestre")
                @Html.DropDownList("id_semestre", new SelectList(ElearningM1.Models.Semestres.getAllSemestre(), "id", "nom"), new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Module")
                @Html.DropDownList("id_module", new SelectList(ElearningM1.Models.Modules.getModules(), "id", "nom"), new { @class = "form-control" })
            </div>
            <input type="submit" class="btn btn-primary" value="Valider" />
        }
</body>
</html>