@model IEnumerable<ElearningM1.Models.TuteurEnseignant>
@{
    ViewBag.Title = "InfoTe";
}

<h2>InfoTe</h2>

<p>je suis dans la page info te voici le nom du tuteur que j'ai recupéré</p>

<p>
    @{ foreach (var tuteur in Model)
            {
           
                @tuteur.Id <br />
                @tuteur.Nom <br />
                @tuteur.Prenom<br />
                @tuteur.DateNaiss<br />
                @tuteur.Courriel<br />
                @tuteur.Adresse <br />
                @tuteur.Telephone
           
        }
    }
</p>