@model ElearningM1.Models.TuteurEnseignant

@{
    ViewBag.Title = "ListeModules";
    Layout = "~/Views/Shared/_LayoutRP.cshtml";
}
<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h3>Les modules</h3>
        @Html.ActionLink("+ Ajouter", "InsererModule", "RP", new { @class = "btn btn-default" })
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Telephone</th>
            </tr>
        </thead>
        @if (Model != null)
        {
            <tr>
                <td>@Model.Nom</td>
                <td>@Model.Prenom</td>
                <td>@Model.DateNaiss</td>
                <td>@Model.Email</td>
                <td>@Model.Adresse</td>
                <td>@Model.Telephone</td>
            </tr>
        }
        else
        {
            <tr><td colspan="5" style="color:red; text-align:center;">@ViewBag.MessageErreur @Html.ActionLink("Retour", "Index", "TuteurEnseignant")</td></tr>
        }
    </table>
</body>
