@model List<ElearningM1.Models.Apprenant>

@{
    ViewBag.Title = "ListeApprenants";
    if (Session["typeUtilisateur"] == "RP")
    {
        Layout = "~/Views/Shared/_LayoutRP.cshtml";
    }
    else if (Session["typeUtilisateur"] == "TE")
    {
        Layout = "~/Views/Shared/_LayoutTE.cshtml";
    }
    else if (Session["typeUtilisateur"] == "Admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h3>Les apprenants</h3>
        @if (Model.Count > 0)
        {
            if (Session["typeUtilisateur"] == "RP")
            {
                @Html.ActionLink("+ Ajouter", "InsererApprenant", "RP", null, new { @class = "btn btn-default" })
            }
        }
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Courriel</th>
                <th>Adresse</th>
                <th>Modules</th>
            </tr>
        </thead>
        @if (Model.Count > 0)
        {
            if (Session["typeUtilisateur"] == "RP")
            {
                foreach (var apprenant in Model)
                {

                    <tr>
                        <td>@Html.ActionLink(apprenant.Nom, "ModifierApprenant", "RP", new { id = apprenant.Id }, null)</td>
                        <td>@Html.ActionLink(apprenant.Prenom, "ModifierApprenant", "RP", new { id = apprenant.Id }, null)</td>
                        <td>@apprenant.DateNaiss</td>
                        <td>@apprenant.Email</td>
                        <td>@apprenant.Adresse</td>
                        <td>@Html.ActionLink("Modules suivis", "getModulesApprenant", "RP", new { id = apprenant.Id }, null)</td>
                        <td>@Html.ActionLink("Supprimer", "SupprimerApprenant", "RP", new { id = apprenant.Id }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            }
            else if (Session["typeUtilisateur"] == "TE")
            {
                foreach (var apprenant in ElearningM1.Models.TuteursEnseignant.getAllApprenant((int)Session["id_utilisateur"]))
                {

                    <tr>
                        <td>@apprenant.Nom</td>
                        <td>@apprenant.Prenom</td>
                        <td>@apprenant.DateNaiss</td>
                        <td>@apprenant.Email</td>
                        <td>@apprenant.Adresse</td>
                        <td>@Html.ActionLink("Les Modules", "getModulesApprenant", "RP", new { id = apprenant.Id }, null)</td>
                    </tr>

                }
            }
        }
        else
        {
            <tr><td colspan="5" style="color:red; text-align:center;">Aucune information n'a été trouvée. Pour ajouter un nouvel apprenant @Html.ActionLink("Cliquer ici", "InsererApprenant", "RP")</td></tr>
        }




    </table>
</body>


