
@{
    ViewBag.Title = "Affectation Apprenant à Examen";
   

    if (Session["TypeUtilisateur"] == "RP") {
        Layout = "~/Views/Shared/_LayoutRP.cshtml";
    }
    else if (Session["TypeUtilisateur"] == "TE" || Session["TypeUtilisateur"] == "Admin")
    {
        Response.Redirect("Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
<body>
    <h4>Affectation d'un Apprenant a un Examen</h4>

        <span style="color:red">@ViewBag.erreur</span>

        @using (Html.BeginForm("Affecter_A_Examen", "RP", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("Apprenant")
                @Html.DropDownList("id_A", new SelectList(ElearningM1.Models.Apprenants.getApprenants(), "id", "nom"), new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Examen")
                @Html.DropDownList("id_Exam", new SelectList(ElearningM1.Models.Examens.getAllExamen(), "id", "nom"), new { @class = "form-control" })
            </div>
            <input type="submit" class="btn btn-primary" value="Valider" />
        }
</body>
</html>
