@model IEnumerable<ElearningM1.Models.Affecter_A_Module>

@{
    ViewBag.Title = "Modules suivis par " + ViewBag.Apprenant.Nom + " " + ViewBag.Apprenant.Prenom;
    Layout = "~/Views/Shared/_LayoutRP.cshtml";
}
<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h3>Modules suivis par @ViewBag.Apprenant.Nom @ViewBag.Apprenant.Prenom</h3>
        @Html.ActionLink("+ Affecter", "#", "RP", new { @class = "btn btn-default" })
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Note finale</th>
            </tr>
        </thead>
        @if (Model.Any())
        {
            foreach (var affectation in Model)
            {
                <tr>
                    <td>@Html.ActionLink(affectation.Module.Nom, "ModifierModule", "RP", new { id = affectation.Module.Id }, null)</td>
                    @if (affectation.NoteFinale != null)
                    {
                        <td>@affectation.NoteFinale / 20
                        @Html.ActionLink("+ Modifier", "InsererNote", "RP", new { id_app = affectation.Apprenant.Id, id_module = affectation.Module.Id, nf = affectation.NoteFinale }, null)</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("+ Ajouter", "InsererNote", "RP", new { id_app = affectation.Apprenant.Id, id_module = affectation.Module.Id }, null)</td>
                    }
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" style="color:red; text-align:center;">Aucune information n'a été trouvée. Pour ajouter un nouveau module @Html.ActionLink("Cliquer ici", "InsererModule", "RP")</td></tr>
        }
    </table>
</body>


