
@{
    ViewBag.Title = "InfosModule";
    if (Session["typeUtilisateur"] == "RP")
    {
        Layout = "~/Views/Shared/_LayoutRP.cshtml";
    }
    else if (Session["typeUtilisateur"] == "TE")
    {
        Layout = "~/Views/Shared/_LayoutTE.cshtml";
    }
    else if (Session["typeUtilisateur"] == "Admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<h2>Informations concernant le module</h2>

<p>@ViewData["NomModule"] : @ViewData["Coeff"]</p>
<body>
    <table>
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de naissance</th>
            <th>Email</th>
        </tr>
        @foreach (ElearningM1.Models.Apprenant apprenant in ViewData["ApprenantsModule"] as List<ElearningM1.Models.Apprenant>)
        {
            <tr>
                <td>@apprenant.Id</td>
                <td>@Html.ActionLink(apprenant.Nom, "#", "#", new { nom = apprenant.Nom }, null)</td>
                <td>@apprenant.Prenom</td>
                <td>@apprenant.DateNaiss</td>
                <td>@apprenant.Email</td>
            </tr>
        }
    </table>
</body>
