@using ElearningM1.Models;
@{
    ViewBag.Title = "Liste des responsables pédagogiques";
    if (Session["TypeUtilisateur"] == "RP")
    {
        Layout = "~/Views/Shared/_LayoutRP.cshtml";
    }
    else if (Session["TypeUtilisateur"] == "TE" || Session["TypeUtilisateur"] == "Admin")
    {
        Response.Redirect("Index");
    }
}
<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h3>Les enseignants</h3>
        @Html.ActionLink("+ Ajouter", "InsererProfil", "RP", new { @class = "btn btn-default" })
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Email</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        @if (RespPedagogiques.getRPs().Count > 0)
        {
            foreach (var rp in RespPedagogiques.getRPs())
            {
                <tr>
                    <td>@Html.ActionLink(rp.Nom, "ModifierProfil", "RP", new { id = rp.Id, type = "RP" }, null)</td>
                    <td>@Html.ActionLink(rp.Prenom, "ModifierProfil", "RP", new { id = rp.Id, type = "RP" }, null)</td>
                    <td>@rp.DateNaiss</td>
                    <td>@rp.Email</td>
                    <td>@rp.Telephone</td>
                    <td>@Html.ActionLink("Supprimer", "SupprimerProfil", "RP", new { id = rp.Id, type = "RP" }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" style="color:red; text-align:center;">Aucune information n'a été trouvée. Pour ajouter un nouveau responsable pédagogique @Html.ActionLink("Cliquer ici", "InsererProfil", "RP")</td></tr>
        }
    </table>
</body>
