@using ElearningM1.Models;
@{
    ViewBag.Title = "Liste examens";
    Layout = "~/Views/Shared/_LayoutRP.cshtml";
}
<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h4>Les examens</h4>
        @Html.ActionLink("+ Ajouter", "InsererExamen", "RP", new { @class = "btn btn-default" })
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Module</th>
                <th>Type d'examen</th>
                <th>Date</th>
            </tr>
        </thead>
        @if (Examens.getExamens().Count > 0)
        {
            foreach (var examen in Examens.getExamens())
            {
                var module = Modules.getModules().SingleOrDefault(m => m.Id == examen.LeModule.Id);
                <tr>
                    <td>@Html.ActionLink(module.Nom, "ModifierModule", "RP", new { id = module.Id }, null)</td>
                    <td>@examen.Type</td>
                    <td>@examen.Date</td>
                    <td>@Html.ActionLink("Supprimer", "SupprimerExamen", "RP", new { id = examen.Id }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" style="color:red; text-align:center;">Aucun n'a été trouvé. Pour ajouter un nouvel examen @Html.ActionLink("Cliquer ici", "InsererExamen", "RP")</td></tr>
        }
    </table>
</body>

