@using ElearningM1.Models;
@{
    ViewBag.Title = "ListeApprenants";
    Layout = "~/Views/Shared/_LayoutRP.cshtml";
}

<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h3>Les apprenants</h3>
        @Html.ActionLink("+ Ajouter", "InsererApprenant", "RP", new { @class = "btn btn-default" })
    </div>
    
    <table class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Courriel</th>
                <th>Adresse</th>
                <th>Les modules suivis</th>
            </tr>
        </thead>
        @if (Apprenants.getApprenants().Count > 0)
        {
            foreach (var apprenant in Apprenants.getApprenants())
            {
                <tr>
                    <td>@Html.ActionLink(apprenant.Nom, "ModifierApprenant", "RP", new { id = apprenant.Id }, null)</td>
                    <td>@Html.ActionLink(apprenant.Prenom, "ModifierApprenant", "RP", new { id = apprenant.Id }, null)</td>
                    <td>@apprenant.DateNaiss</td>
                    <td>@apprenant.Email</td>
                    <td>@apprenant.Adresse</td>
                    <td>@Html.ActionLink("Les Modules", "getModulesApprenant", "RP", new { id = apprenant.Id }, null)</td>
                    <td>@Html.ActionLink("Supprimer", "SupprimerApprenant", "RP", new { id = apprenant.Id }, new { @class = "btn btn-danger" })</td>

                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" style="color:red; text-align:center;">Aucune information n'a été trouvée. Pour ajouter un nouvel apprenant @Html.ActionLink("Cliquer ici", "InsererApprenant", "RP")</td></tr>
        }
           
        
    </table>
</body>


