@using ElearningM1.Models;
@{
    ViewBag.Title = "Liste des tuteurs";
    if (Session["TypeUtilisateur"] == "RP")
    {
        Layout = "~/Views/Shared/_LayoutRP.cshtml";
    }
    else if (Session["TypeUtilisateur"] == "TE" || Session["TypeUtilisateur"] == "Admin")
    {
        Response.Redirect("Index");
    }
}
<head>
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="~/Content/css/style.css" />
</head>
<body>
    <div class="input-group">
        <h3>Les enseignants</h3>
        @Html.ActionLink("+ Ajouter", "InsererTE", "RP", new { @class = "btn btn-default" })
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Courriel</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        @if (TuteursEnseignant.getTuteursEnseignant().Count > 0)
        {
            foreach (var te in TuteursEnseignant.getTuteursEnseignant())
            {
            <tr>
                <td>@Html.ActionLink(te.Nom, "ModifierTE", "RP", new { id = te.Id }, null)</td>
                <td>@Html.ActionLink(te.Prenom, "ModifierTE", "RP", new { id = te.Id }, null)</td>
                <td>@te.DateNaiss</td>
                <td>@te.Email</td>
                <td>@te.Adresse</td>
                <td>@Html.ActionLink("Supprimer", "SupprimerTE", "RP", new { id = te.Id }, new { @class = "btn btn-danger" })</td>

            </tr>
            }
        }
        else
        {
            <tr><td colspan="5" style="color:red; text-align:center;">Aucune information n'a été trouvée. Pour ajouter un nouvel enseignant @Html.ActionLink("Cliquer ici", "InsererTE", "RP")</td></tr>
        }
    </table>
</body>
