<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyPlateformMIAGE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informations <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Liste des modules", "ListeModules", "RP")</li>
                            <li>@Html.ActionLink("Liste des apprenants", "ListeApprenants", "Commun")</li>
                            <li>@Html.ActionLink("Liste des tuteurs", "ListeTuteursEnseignant", "RP")</li>
                            <li>@Html.ActionLink("Liste des sessions de regroupement", "ListeSessionsRegroupement", "RP")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ajout <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Module", "InsererModule", "RP")</li>
                            <li>@Html.ActionLink("Apprenant", "InsererApprenant", "RP")</li>
                            <li>@Html.ActionLink("Tuteur", "InsererTE", "RP")</li>
                            <li>@Html.ActionLink("Session de regroupement", "InsererSessionReg", "RP")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Affectation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Apprenant à un Module", "Affecter_A_Module", "RP")</li>
                            <li>@Html.ActionLink("Apprenant à un Tuteur", "Affecter_A_Te", "RP")</li>
                            <li>@Html.ActionLink("Apprenant à un Examen", "Affecter_A_Examen", "RP")</li>
                            <li>@Html.ActionLink("Module à un Semestre", "Affecter_Module_Semestre", "RP")</li>
                            <li>@Html.ActionLink("Examen à un Module", "Affecter_A_Examen", "RP")</li>

                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Déconnexion", "SignOut", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MyPlateformMIAGE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
